# URL de conexión a Supabase (PostgreSQL)
# Reemplaza TU_PASSWORD con tu contraseña real de Supabase
DATABASE_URL="postgresql://postgres.mknvckgzyfmqfocmurxd:TU_PASSWORD@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

# API Key de OpenRouter para la Inteligencia Artificial
OPENROUTER_API_KEY="PEGA_AQUI_TU_CLAVE"

# Puerto en el que corre el Backend
PORT=3001
